.round-button {
  display:inline-block;
  width:100px;
  height:100px;    
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;    
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  margin: 20px;
}

.round-button:focus {
  outline:0;
}

#start-button{
  background: green;
}

#finish-button{
  background: red;
}

#start-button:disabled{
  background: #666;
}

#finish-button:disabled{
  background: #666;
}

#start-button:hover{
  cursor: pointer;
}

#finish-button:hover{
  cursor: pointer;
}

#duration {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  color: #FCFFF5;
  background-color: #3E606F;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 50px;
}

/* display/hide nested radio buttons for projects/tasks */
.tasks { 
  visibility: hidden; 
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

:checked ~ .tasks {
  visibility: visible;
  opacity:1;
  transition-delay:0s;
  margin-left: 20px;
}

form {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.projects {
  padding: 40px;

}

.tasks {
  padding-top: 10px;  
}

.admin-buttons {  
    display: flex;
  justify-content: left;
}

.admin {
  padding-top: 25px;
}
.admin-buttons input{ 
  width: 150px;
  margin: 10px;  
}
