

html {
  color: black;
  background-color: #F7F5E6;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  color: #E8E8E8;
  background-color: #333A56;
  margin: 0;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 50px;
}

h2 {
  text-align: center;
}

/* banner properties */
.mainBanner {
  color: #E8E8E8;
  background-color: #333A56;
  width: 100%;
  position: relative;
}

#clear-tasks_logged{
  float: right;
  margin: 10px;
  position: relative;
  top: 40px;
  right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: .75rem;
  padding: .5rem .75rem;
  display: block;
  background-color: #52658F;
  border: 1px solid transparent;
  color: #E8E8E8;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#clear-tasks_logged:hover{
  color: #52658F;
  background-color: #E8E8E8;
}
/* banner properties */

/* form properties for project/task radio buttons */
form {
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

fieldset {
  margin: 20px ;
  width: 70%;
  display: flex;
  justify-content: center;
  border-color: #333A56;
}

legend {
  font-weight: bold;
}

#projects-container{  
  display: flex;
  justify-content: center;
}
.projects {
  padding: 20px;
}
.tasks {
  padding-top: 10px;  
}

/* display/hide nested radio buttons for projects/tasks */
.tasks { 
  visibility: hidden; 
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

:checked ~ .tasks {
  visibility: visible;
  opacity:1;
  transition-delay:0s;
  margin-left: 20px;
}
/* end form properties for project/task radio buttons */

/* start/finish button properties */
.round-button {
  display:inline-block;
  width:100px;
  height:100px;    
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;    
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  margin: 20px;
}

.round-button:focus {
  outline:0;
}

#start-button{
  background: green;
}

#finish-button{
  background: red;
}

#start-button:disabled{
  background: #999;
}

#start-button:disabled:hover{
  box-shadow: 0 0 3px gray; 
}

#finish-button:disabled{
  background: #999;  
}

#finish-button:disabled:hover{
  box-shadow: 0 0 3px gray;  
}

#start-button:hover{
  cursor: pointer;
  box-shadow: 0 0 15px gray;
}

#finish-button:hover{
  cursor: pointer;
  box-shadow: 0 0 15px gray;
}

#duration {
  display: block;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* end start/finish button properties */

/* admin button properties */
.admin-buttons {  
  display: flex;
  justify-content: left;
}

.admin {
  padding-top: 25px;
}

.admin-buttons input{ 
  width: 150px;
  margin: 10px;  
}
/* end admin button properties */

/*stats table properties*/
#stats-table, #aggregated-table {
  display: flex;
  justify-content: center;
}

#stats-summary {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#aggregated-summary {
  position: relative;
  left: 8px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#stats-summary td, #stats-summary th, #aggregated-summary td, #aggregated-summary, th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stats-summary tr:nth-child(even) {
  background-color: #E8E8E8;
}

#aggregated-summary tr:nth-child(odd) {
  background-color: #E8E8E8;
}

#stats-summary tr:hover, #aggregated-summary tr:hover {
  background-color: #ddd;
}

#stats-summary th, #aggregated-summary th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #E8E8E8;
  background-color: #333A56;
}

caption {
  text-align: left;
  padding: 5px;  
  font-weight: bold;
}
/* end stats table properties */

/*Responsive changes to screen-size*/
@media screen and (max-width: 650px){
  .projects {
    display: block;
    float: none;
    padding: 10px;
  }
  #projects-container{  
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 480px){
  #clear-tasks_logged{    
    width:30px;
    height:30px;
    border-radius: 50%;
    top: 20px;
  }

  .button-text {
    display: none;
  }

  h1 {
    font-size: 30px;
    padding-left: 30px;
  }

  h2 {
    font-size: 20px;
  }

  legend {
    font-size: 12px;
  }
}